*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--bs-dark-color);
}

.navbar-collapse{
    margin-top: -5%;
}

.copyright{
    margin-bottom:-5% ;
}

h1{
    font-size: 3.8rem;
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button, a{
    font-size: 1.0rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem!important;
}

.common-title{
    margin-bottom: 4.2rem;
}


.common-section{
    padding: 0 0 9rem 0;
}
/* hero section start  */


.nav-link{
    color: white;
    font-weight: bold;
}
.nav-link:hover{
    color: rgb(55, 55, 183);
}

.text-light-grey{
    color: rgb(173, 165, 165);
}

.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}


.bg-main{
    height: 80vh;
    position: relative;
}

.bg-color{
    background-color:black;
}



.hero-video--section{
    width: 30rem;
    border-radius: 2rem;
}
.custom-shape-divider-bottom-1719040332 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719040332 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 98px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1719040332 .shape-fill {
    fill: #FFFFFF;
}

/* Services section  */

.services-section{
    padding: 6rem 0 3rem 0 !important;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(90, 90, 227, 0.913);
    color: #FFFFFF;
}

.card-box:hover{
    box-shadow: rgba(149,157,165,0.2) 0 8px 24px;
}


/* more info section  */
/* .more-info-section{
    
} */


/* carosual styling  */
.carousel .card{
    background-color: #262631;
    color: white;
    transition: all 0.3s linear;
}
.carousel-inner .card{
    color: white;

}

.carousel-inner  .card:hover{
    background-color: white;
    color: #0f0f15;
}

.fa-star{
    color:rgb(105, 25, 186);
}


.carousel-indicators{
     bottom: -20%;
}
/* 
.carousel-indicators{
    width: .7rem;
    height: .7rem;
    background-color: blueviolet;
} */

/* contact section  */
.contact-section{
    position: relative;
}
.custom-shape-divider-top-1719134348 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1719134348 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1719134348 .shape-fill {
    fill: #FFFFFF;
}

.contact-section .common-title{
    padding-top:  6rem;
}

.contact-section .form-section{
    width: 50%;
}

/* footer styling  */

.main-footer-section{
    padding: 0 0 4rem  0;
    color: white;
}

.contact-div{
    background-color: #222;
}

.icon-div{
    width: 5rem;
    height: 5rem;
}


/* media qeuriy for responsive  */

@media screen and(max-width:1200px){
    .hero-video--section{
        width: 20rem;
        border-radius: 1rem;
    }
}


@media screen and (max-width:998px){
    .navbar-toggler{
        border-color: white;
   }
   .navbar-toggler-icon{
    color: white;
    background-color: white;
   }
   .h1{
    font-size: 1.4rem;

   }
   .section .common-heading{
    font-size: 2rem;
   }
   section .para-width{
    width: auto;
   }

   .hero-section{
    height: 100vh;
   }

}


